:root {
    --color-text: #ffffff;
    --color-text-2: #cccccc;
    --color-text-3: #3b3b3b;
    --color-bg-1: #0c0716;
    --color-bg-2: #5604db;
    --color-bg-3: #ffffff;
    --color-bg-4: #1e133a;
    --color-bg-5: #000000;
    --color-border1: #ffffff;
}

.page-logo{
    width: 200px;
}

.alura-logo {
	height: 40px;
	
}

.aliny-logo{
    width: 80px;
}

#imagem-main-calc {    
    background-image: url("../images/calcMediaBg.png");
    background-position: top left;
	background-size: auto;
	background-repeat: no-repeat;    
}

#imagem-main-Temp {    
    background-image: url("../images/conversorTempBG.png");
    background-position: top left;
	background-size: auto;
	background-repeat: no-repeat;    
}

#efeito-vidro{
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

